{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>About</h1>
    <div class="nav-buttons btn-group btn-group-toggle" data-toggle="buttons">
        <a href="{{ path('about_index') }}" class="btn btn-outline-primary">Back to list</a>
        <a href="{{ path('about_edit', { 'id': about.id }) }}" class="btn btn-outline-primary">Edit</a>
        {{ include('about/_delete_form.html.twig') }}
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ about.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ about.position }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ about.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ about.content | nl2br }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
