{%- if partners is not empty -%}
<section id="partners-section">
  <div id="partners" class="page-header">
    <h1>{{ 'menu.partners' | trans }}</h1>
  </div>
  {% spaceless %}
  {%- for partner in partners -%}
    {% if loop.first or (loop.index - 1) % 6 == 0 -%}
      <div class="row partners">
    {%- endif -%}

    <div class="col-sm-2">
      <div class="thumbnail">

        {# url begins #}
        {%- if partner.url -%}<a href="{{ partner.url }}">{% endif -%}
        <div class="picture">
          {%- if partner.photoName -%}
            <img
                src="{{ vich_uploader_asset(partner, 'photoFile') | imagine_filter('homepage_partners') }}" alt="{{ partner.name }}" />
          {% endif %}
        </div>
        {%- if partner.url -%}</a>{%- endif -%}
        {# url ends #}

        <div class="caption text-center">
          <h5>{{- partner.name -}}</h5>
        </div>
      </div>{# thumbnail ends#}
    </div>{# col ends#}

    {%- if loop.index % 6 == 0 or loop.last -%}
      </div>{# row ends#}
    {%- endif -%}

  {%- endfor -%}
  {% endspaceless %}

</section>
{%- endif -%}
