{# display buttons only in current edition #}
{% if edition.id == lastEdition.id %}
{% if config is not empty and config.getNumberOfEnabled > 0 %} {# tested! #}

{% spaceless %}
    <div class="jumbotron">
        <div class="row">
            {% if config.getNumberOfEnabled == 1 %}
                {# 1 col #}
                <div class="col-md-12 main-button">
                    {% if config.isSignupMenteesEnabled %}
                        {# be a mentee only #}
                        <a href="{{ path('mentee_apply') }}" class="btn btn-primary btn-lg">
                          {{- 'button.be_mentee' | trans -}}
                        </a>
                    {% elseif config.isSignupMentorsEnabled %}
                        {# be a mentor only #}
                        <a href="{{ path('mentor_apply') }}" class="btn btn-primary btn-lg">
                          {{- 'button.be_mentor' | trans -}}
                        </a>
                    {% elseif config.isSignupPartnersEnabled %}
                        {# be a partner only #}
                        <a href="mailto:{{- email_partner | url_encode -}}" class="btn btn-primary btn-lg">
                          {{- 'button.be_partner' | trans -}}
                        </a>
                    {% endif %}
                </div>

            {% elseif config.getNumberOfEnabled == 2 %}
                {# 2 cols #}
                {% if config.isSignupMenteesEnabled and config.isSignupMentorsEnabled %}
                    {# be a mentee, be a mentor #}
                    <div class="col-md-6 main-button">
                        <a href="{{ path('mentee_apply') }}" class="btn btn-primary btn-lg">
                          {{- 'button.be_mentee' | trans -}}
                        </a>
                    </div>
                    <div class="col-md-6 main-button">
                        <a href="{{ path('mentor_apply') }}" class="btn btn-primary btn-lg">
                            {{- 'button.be_mentor' | trans -}}
                        </a>
                    </div>
                {% elseif config.isSignupMenteesEnabled and config.isSignupPartnersEnabled %}
                    {# be a mentee, be a partner #}
                    <div class="col-md-6 main-button">
                        <a href="{{ path('mentee_apply') }}" class="btn btn-primary btn-lg">
                          {{- 'button.be_mentee' | trans -}}
                        </a>
                    </div>
                    <div class="col-md-6 main-button">
                        <a href="mailto:{{- email_partner | url_encode -}}" class="btn btn-primary btn-lg">
                          {{- 'button.be_partner' | trans -}}
                        </a>
                    </div>
                {% elseif config.isSignupMentorsEnabled and config.isSignupPartnersEnabled %}
                    {# be a mentor, be a partner #}
                    <div class="col-md-6 main-button">
                        <a href="{{ path('mentor_apply') }}" class="btn btn-primary btn-lg">
                            {{- 'button.be_mentor' | trans -}}
                        </a>
                    </div>
                    <div class="col-md-6 main-button">
                        <a href="mailto:{{- email_partner | url_encode -}}" class="btn btn-primary btn-lg">
                          {{- 'button.be_partner' | trans -}}
                        </a>
                    </div>
                {% endif %}

            {% elseif config.getNumberOfEnabled == 3 %}
                {# 3 cols #}
                <div class="col-md-4 main-button">
                    <a href="{{ path('mentee_apply') }}" class="btn btn-primary btn-lg">
                      {{- 'button.be_mentee' | trans -}}
                    </a>
                </div>
                <div class="col-md-4 main-button">
                    <a href="{{ path('mentor_apply') }}" class="btn btn-primary btn-lg">
                      {{- 'button.be_mentor' | trans -}}
                    </a>
                </div>
                <div class="col-md-4 main-button">
                    <a href="mailto:{{- email_partner | url_encode -}}" class="btn btn-primary btn-lg">
                      {{- 'button.be_partner' | trans -}}
                    </a>
                </div>
            {% endif %}

        </div><!-- row -->
    </div><!-- jumbotron -->
{% endspaceless %}
{% endif %}
{% endif %}
