{% extends 'WitSiteBundle::base.html.twig' %}

{% block bg -%}
    {% spaceless %}
        <div class="bg hidden-xs hidden-sm">
            {# <p class="lead program">{{ 'homepage.lead.program' | trans }}</p>
            <h1 class="headline-bg">
                <span class="headline-white">Invest</span>&nbsp;<span class="headline-black">in Yourself</span>
            </h1> #}
            <div class="bglead">
                <h1>Tech Leaders</h1>
                <h2>{{ 'homepage.lead.program' | trans }}</h2>
            </div>
        </div>
    {% endspaceless %}
{%- endblock -%}

{%- block body -%}
    {% set config = getSignupConfig() %}
    {% set lastEdition = getLastEdition() %}

    {%- include 'WitSiteBundle:Homepage:_chosen.html.twig' -%}
    {%- include 'WitSiteBundle:Homepage:_signupButtons.html.twig' -%}
    {%- include 'WitSiteBundle:Homepage:_about.html.twig' -%}
    {%- include 'WitSiteBundle:Homepage:_mentors.html.twig' -%}
    {%- include 'WitSiteBundle:Homepage:_sponsors.html.twig' -%}
    {%- include 'WitSiteBundle:Homepage:_partners.html.twig' -%}
    {%- include 'WitSiteBundle:Homepage:_gallery.html.twig' -%}
    {%- include 'WitSiteBundle:Homepage:_organizer.html.twig' -%}
    {%- include 'WitSiteBundle:Homepage:_contact.html.twig' -%}
{%- endblock -%}

{%- block stylesheets -%}
    {{ parent() }}

    {%- stylesheets
        '@lightgallery_css'
        filter='cssrewrite'
    -%}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {%- endstylesheets %}
{%- endblock -%}

{%- block javascripts %}
    {{ parent() }}

    {%- javascripts
        '@modal_mentors'
        '@scroll_homepage'
        '@lightgallery_program'
    -%}
        <script src='{{ asset_url }}'></script>
    {%- endjavascripts %}
{%- endblock -%}
