{% if answers %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'question.name' | trans }}</th>
                <th>{{ 'answer.content' | trans }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            {% if answer.question.isVisibleForMentor %}
            <tr>
                <td>{{ answer.question.name }}</td>
                <td>
                    {%- if answer.answerChoice -%}
                        {{- answer.answerChoice.name -}}
                    {%- else -%}
                        {{- answer.content -}}
                    {%- endif -%}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {% include 'WitSiteBundle:helper:emptyResult.html.twig' %}
{% endif %}
