{% extends 'UserBundle::account.html.twig' %}

{% block body %}

{% include "UserBundle:account:_welcome.html.twig" %}

{# Columns are always 50% wide, on mobile and desktop #}
<div class="row">

  <div class="col-md-6 col-xs-12">
    {% include "UserBundle:account:importantInfo.html.twig" %}
  </div>{# col #}

  <div class="col-md-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{- 'account.programme.edition.current' | trans({'%edition%': edition.name}) -}}
        </h3>
      </div>

      <div class="panel-body">
        <div class="list-group">

          {%- if config.getIsSignupMenteesEnabled -%}
            <a href="{{ path('config_index') }}" class="list-group-item list-group-item-warning">
              {{- 'info.signup.mentees.enabled' | trans -}}
            </a>
          {%- else -%}
            <a href="{{ path('config_index') }}" class="list-group-item list-group-item-danger">
              {{- 'info.signup.mentees.disabled' | trans -}}
            </a>
          {%- endif -%}

          {%- if config.getIsSignupMentorsEnabled -%}
            <a href="{{ path('config_index') }}" class="list-group-item list-group-item-warning">
              {{- 'info.signup.mentors.enabled' | trans -}}
            </a>
          {%- else -%}
            <a href="{{ path('config_index') }}" class="list-group-item list-group-item-danger">
              {{- 'info.signup.mentors.disabled' | trans -}}
            </a>
          {%- endif -%}

          {%- if config.getIsSignupPartnersEnabled -%}
            <a href="{{ path('config_index') }}" class="list-group-item list-group-item-info">
              {{- 'info.signup.partners.enabled' | trans -}}
            </a>
          {%- else -%}
            <a href="{{ path('config_index') }}" class="list-group-item list-group-item-info">
              {{- 'info.signup.partners.disabled' | trans -}}
            </a>
          {%- endif -%}

        </div>{# list-group #}
      </div>{# panel-body #}
    </div>{# panel panel-default #}
  </div>{# col #}
</div>{# row #}

{%- endblock -%}
