{% if faqs %}
    <table id="preview" class="table table-hover">
        <thead>
            <tr class="header-legend">
                <th>&nbsp;</th>
                <th>{{ 'faq.question' | trans }}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for faq in faqs %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ faq.question | truncate(40, true, '...') }}</td>
                <td>
                    <a href="{{ path('faq_show', { 'id': faq.id }) }}">{{ 'button.show' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {% include 'WitSiteBundle:helper:emptyResult.html.twig' %}
{% endif %}

