{% if questions %}
    <table id="preview" class="table table-hover">
        <thead>
            <tr class="header-legend">
                <th>{{ 'question.name' | trans }}</th>
                <th>{{ 'question.type.self' | trans }}</th>
                <th>{{ 'question.isVisibleForMentor' | trans }}</th>
                <th>&nbsp;</th>
                {# <th>&nbsp;</th> #}
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr class="{% if question.type == 'mentor' %}warning{% else %}success{% endif %}">
                <td>{{ question.name | truncate(40, true, '...') }}</td>
                <td>
                    {%- if question.type == 'mentee' -%}
                        {{- 'mentee.self' | trans }}
                    {%- elseif question.type == 'mentor' -%}
                        {{- 'mentor.self' | trans }}
                    {%- endif -%}
                </td>
                <td>
                    {%- if question.type == 'mentee' -%}
                        {%- if question.isVisibleForMentor -%}
                            {{- 'yes' | trans -}}
                        {%- else -%}
                            {{- 'no' | trans -}}
                        {%- endif -%}
                    {%- endif -%}
                </td>
                <td>
                    <a href="{{ path('question_show', { 'id': question.id }) }}">{{ 'button.show' | trans }}</a>
                </td>
                {# <td>
                    <a href="{{ path('answer_index', { 'id': question.id }) }}">{{ 'menu.answers' | trans | lower }}</a>
                </td> #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {% include 'WitSiteBundle:helper:emptyResult.html.twig' %}
{% endif %}

