{% extends 'WitProgramAdminQuestionnaireBundle::layout.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>{{ 'question.details' | trans }}</h1>
    </div>

    {% if is_granted("ROLE_SUPER_ADMIN") %}

        <ul class="nav-internal list-unstyled">
            {% if is_granted("ROLE_SUPER_ADMIN") %}
                <li>
                    <a href="{{ path('question_edit', { 'id': question.id }) }}" class="btn btn-primary btn-sm">{{ 'button.edit' | trans }}</a>
                </li>
            {% endif %}
            <li>
                {{ form_start(delete_form) }}
                    <input class="btn btn-primary btn-sm" type="submit" value="{{ 'button.delete' | trans }}">
                {{ form_end(delete_form) }}
            </li>
        </ul>

    {% endif %}

    <div class="row">
        <div class="col-md-6 col-sm-12">

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>{{ 'question.name' | trans }}</th>
                        <td>{{ question.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'question.description' | trans }}</th>
                        <td>{{ question.helpblock }}</td>
                    </tr>

                    <tr>
                        <th>{{ 'question.type.self' | trans }}</th>
                        <td class="{% if question.type == 'mentor' %}warning{% else %}info{% endif %}">{{ question.type }}</td>
                    </tr>

                    {% if question.type == 'mentee' %}
                    <tr>
                        <th>{{ 'question.isVisibleForMentor' | trans }}</th>
                        <td>
                            {%- if question.isVisibleForMentor -%}
                                {{- 'yes' | trans -}}
                            {%- else -%}
                                {{- 'no' | trans -}}
                            {%- endif -%}
                        </td>
                    </tr>
                    {% endif %}

                    {% if question.answerChoices is not empty %}
                    <tr>
                        <th>{{ 'choice.option' | trans }}</th>
                        <td>
                            {%- for ch in question.answerChoices -%}
                                    <p>{{- ch.name -}}</p>
                            {%- endfor -%}
                        </td>
                    </tr>

                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
