{% extends 'UserBundle::account.html.twig' %}

{% block body %}
  <div class="page-header">
    <h3>
      {{- 'event.calendar' | trans }}
      <a class="label label-primary" href="{{ path('event_new') }}">
        {{- 'event.new' | trans -}}
      </a>
    </h3>
  </div>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#calendar" data-toggle="tab" aria-expanded="true">
        {{- 'event.view.calendar' | trans -}}
      </a>
    </li>
    <li class="">
      <a href="#list" data-toggle="tab" aria-expanded="false">
        {{- 'event.view.list' | trans -}}
      </a>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane fade active in" id="calendar">

      {%- include 'ADesignsCalendarBundle::calendar.html.twig' -%}

    </div>

    <div class="tab-pane fade" id="list">

      {%- include 'UserBundle:event:_list.html.twig' -%}

    </div>

  </div>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/user/css/fullcalendar/fullcalendar.css') }}" />

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/jquery/jquery-1.8.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/adesignscalendar/js/fullcalendar/jquery.fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/user/js/calendar-settings.js') }}"></script>

    <script>
        $(document).ready(function(){
            Routing.generate('calendar_index');
        });
    </script>

{% endblock %}
