{% extends 'UserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'faq.detail' | trans }}</h1>
    </div>

    <ul class="nav-internal list-unstyled">
        <li>
            <a href="{{ path('faq_edit', { 'id': faq.id }) }}" class="btn btn-primary btn-sm">{{ 'button.edit' | trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-primary btn-sm" type="submit" value="{{ 'button.delete' | trans }}">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <div class="row">
        <div class="col-md-6 col-sm-12">

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>{{ 'faq.question' | trans }}</th>
                        <td>{{ faq.question }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'faq.answer' | trans }}</th>
                        <td>{{ faq.answer }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
