<div class="tab-content">

  {# display navigation #}
  <div class="navigation">
      {{ knp_pagination_render(events) }}
  </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-12">
        <div class="table-responsive">
          <table class="table">
             <thead>
              <tr class="header-legend">
                <th>{{ 'autor' | trans }}</th>
                <th>{{ 'data' | trans }}</th>
                <th>{{ 'tytuł' | trans }}</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            {# <tbody> #}
            <tbody>
            {% for event in events %}
              <tr>
                <td>{{ event.author.fullname }}</td>
                <td>{{ formatDateRange(event.startTime, event.endTime) }}&nbsp;<small>{{ formatTimeRange(event.startTime, event.endTime) }}</small></td>
                <td>{{ event.title | truncate(40, true, '...')}}</td>
                <td>
                    <a href="{{ path('admin_event_show', { 'id': event.id }) }}">{{ 'button.show' | trans }}</a>
                </td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

</div>
