<section id="organizer-group">
  <div id="organizer" class="page-header">
    <h1>{{ 'menu.organization' | trans }}</h1>
  </div>
  {% spaceless %}
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="thumbnail">
            {%- if organization.url -%}<a href="{{ organization.url }}">{% endif -%}
            {%- if organization.logoFileName -%}
              <div class="picture">
                <img src="{{ vich_uploader_asset(organization, 'logoFile') | imagine_filter('organization_logo_homepage') }}" alt="{{ 'menu.organization'|trans }}" />
              </div>
            {% endif %}
            <div class="caption text-center">
              <h5>{{- organization.name -}}</h5>
            </div>
            {%- if organization.url -%}</a>{%- endif -%}
            {# url ends #}
      </div>
    </div>
  </div>
  {% endspaceless %}
</section>
