{# display buttons only in current edition #}
{%- if edition.id == lastEdition.id -%}

{%- set enabledButtons = getEnabledButtons() -%}

{%- spaceless -%}
    {%-
        if
        enabledButtons | length > 0
    -%}
    <div class="jumbotron">
        <div class="row">
            {%-
                if
                enabledButtons | length == 1
            -%}
                {# 1 col #}
                <div class="col-md-12 main-button">
                    {%-
                        if
                        enabledButtons.mentees is defined
                    -%}
                        {# be a mentee only #}
                        <a href="{{ path('mentee_apply') }}" class="btn btn-primary btn-lg">
                          {{- 'button.be_mentee' | trans -}}
                        </a>
                    {%-
                        elseif
                        enabledButtons.mentors is defined
                    -%}
                        {# be a mentor only #}
                        <a href="{{ path('mentor_apply') }}" class="btn btn-primary btn-lg">
                          {{- 'button.be_mentor' | trans -}}
                        </a>
                    {%-
                        elseif
                        enabledButtons.partners is defined
                    -%}
                        {# be a partner only #}
                        <a href="mailto:{{- organization.partnersEmail -}}" class="btn btn-primary btn-lg">
                          {{- 'button.be_partner' | trans -}}
                        </a>
                    {%- endif -%}
                </div>
            {%-
                elseif
                enabledButtons | length == 2
            -%}
                {# 2 cols #}
                {%-
                    if
                    (enabledButtons.mentees is defined and enabledButtons.mentors is defined)
                -%}
                    {# be a mentee, be a mentor #}
                    <div class="col-md-6 main-button">
                        <a href="{{ path('mentee_apply') }}" class="btn btn-primary btn-lg">
                          {{- 'button.be_mentee' | trans -}}
                        </a>
                    </div>
                    <div class="col-md-6 main-button">
                        <a href="{{ path('mentor_apply') }}" class="btn btn-primary btn-lg">
                            {{- 'button.be_mentor' | trans -}}
                        </a>
                    </div>
                {%-
                    elseif
                    (enabledButtons.mentees is defined and enabledButtons.partners is defined)
                -%}
                    {# be a mentee, be a partner #}
                    <div class="col-md-6 main-button">
                        <a href="{{ path('mentee_apply') }}" class="btn btn-primary btn-lg">
                          {{- 'button.be_mentee' | trans -}}
                        </a>
                    </div>
                    <div class="col-md-6 main-button">
                        <a href="mailto:{{- organization.partnersEmail -}}" class="btn btn-primary btn-lg">
                          {{- 'button.be_partner' | trans -}}
                        </a>
                    </div>
                {%-
                    elseif
                    (enabledButtons.mentors is defined and enabledButtons.partners is defined)
                -%}
                    {# be a mentor, be a partner #}
                    <div class="col-md-6 main-button">
                        <a href="{{ path('mentor_apply') }}" class="btn btn-primary btn-lg">
                            {{- 'button.be_mentor' | trans -}}
                        </a>
                    </div>
                    <div class="col-md-6 main-button">
                        <a href="mailto:{{- organization.partnersEmail -}}" class="btn btn-primary btn-lg">
                          {{- 'button.be_partner' | trans -}}
                        </a>
                    </div>
                {%- endif -%}

            {%-
                elseif
                enabledButtons | length == 3
            -%}
                {# 3 cols #}
                <div class="col-md-4 main-button">
                    <a href="{{ path('mentee_apply') }}" class="btn btn-primary btn-lg">
                      {{- 'button.be_mentee' | trans -}}
                    </a>
                </div>
                <div class="col-md-4 main-button">
                    <a href="{{ path('mentor_apply') }}" class="btn btn-primary btn-lg">
                      {{- 'button.be_mentor' | trans -}}
                    </a>
                </div>
                <div class="col-md-4 main-button">
                    <a href="mailto:{{- organization.partnersEmail -}}" class="btn btn-primary btn-lg">
                      {{- 'button.be_partner' | trans -}}
                    </a>
                </div>
            {%- endif -%}
        </div><!-- row -->
    </div><!-- jumbotron -->
    {%- endif -%}
{%- endspaceless -%}
{%- endif -%}
