{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <ul class="nav nav-tabs nav-profile submenu">
      <li
        {%- if app.request.attributes.get('_route') starts with 'fos_user_profile_show' %} class="active"{% endif -%}>
            <a href="{{ path('fos_user_profile_show') }}">
                {{ 'account.profile.self'| trans -}}
            </a>
        </a>
      </li>
      <li
        {%- if app.request.attributes.get('_route') starts with 'fos_user_profile_edit' %} class="active"{% endif -%}>
            <a href="{{ path('fos_user_profile_edit') }}">
                {{ 'account.edit'| trans -}}
            </a>
        </a>
      </li>
      <li
        {%- if app.request.attributes.get('_route') starts with 'fos_user_change' %} class="active"{% endif -%}>
        <a title="{{ 'change_password.submit.out' | trans }}"
            href="{{ path('fos_user_change_password') }}">
            {{- 'change_password.submit' | trans({}, 'FOSUserBundle') -}}
        </a>
      </li>
    </ul>

{% endif %}
