<div class="profile text-center">
  {%- if mentor.photoName -%}
  <img {# width="140" height="140"  #}border="0" {#class="img-circle"#}
        src="{{ vich_uploader_asset(mentor, 'photoFile') | imagine_filter('profile_thumb') }}" alt="{{ mentor.fullname }}" />
  {%- endif -%}
  <h3 class="media-heading">
    {{- mentor.fullname -}}&nbsp;
    <small>{{- mentor.company -}}
    </small>
  </h3>

  {%- set lebels = [ "label-warning", "label-info", "label-success"] -%}
  {%- set shuffledLabels = lebels|shuffle|slice(0,3) -%}

  {%- if mentor.occupation -%}
    <span><strong>{{- 'mentor.skills' | trans -}}:&nbsp;</strong></span>
    {%- set skills = mentor.occupation | split('\n') -%}
    {%- for s in skills -%}
      <span class="label {{ shuffledLabels[ loop.index0 ] }}">{# spaces between loop.index0 are NEEDED #}
        {{- s -}}
      </span>&nbsp;
    {%- endfor -%}
  {% endif %}

  <hr />

  <div class="text-left"><strong>{{- 'mentor.bio.self' | trans -}}:&nbsp;</strong>
    {{- mentor.bio -}}
  </div>
</div>
