{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'event.edit' | trans }}</h1>
    </div>

    {% include 'WitProgramCalendarBundle:Event:_form.html.twig' %}
{% endblock %}
