{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}

    <script>
        jQuery(document).ready(function($){
          var $startTimeField = $('#event_startTime');
          var $endTimeField = $('#event_endTime');

          // only if field is present
          if ($startTimeField.length === 0) {
            return;
          }

          // get datepicker instances
          var dpst = $startTimeField.data('datetimepicker');
          var dpet = $endTimeField.data('datetimepicker');

          // observe change event
          $startTimeField.on('change', function() {

            // only when end field is empty
            if ($endTimeField.val() === '') {
              // grab date object
              var startDate = dpst.getDate();

              // calculate end date by adding 1h to start date
              var endDate = new Date();
              endDate.setTime(startDate.getTime() + 3600*1000);

              // set new end time
              dpet._setDate(endDate);
            }
          });

        });
    </script>

{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'event.new' | trans }}</h1>
    </div>

    {% include 'WitProgramCalendarBundle:event:_form.html.twig' %}
{% endblock %}
