{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}
<div class="page-header">
  <h1>{{ event.title }}</h1>
  {# <h2>{{ formatTimeRange(event.startTime, event.endTime) }} <small>{{ diffDateRange(event.startTime, event.endTime) }}</small></h2> #}
  <h3>{{ formatDateRange(event.startTime, event.endTime) }}&nbsp;<small>{{ formatTimeRange(event.startTime, event.endTime) }}</small></h3>
</div>

<div class="row">
  <div class="col-md-6 col-sm-12">

    <div class="card text-white{#bg-succes#}">
      <div class="card-body">
        <blockquote class="card-blockquote">
          <h4>{{- 'event.description' | trans -}}</h4>
          {{ event.description | nl2br }}
          <footer>{{- event.author.fullname -}},&nbsp;
            {%- if event.participant -%}
              {{- event.participant.fullname -}}
            {%- elseif is_granted("ROLE_MENTOR") -%}
              {%- set mentee = app.user.invitation.mentor.findChosenPerson -%}
              {%- if mentee -%}
                {{- mentee.fullname -}}
              {%- endif -%}
            {%- elseif is_granted("ROLE_MENTEE") -%}
              {%- set mentor = app.user.invitation.person.mentor -%}
              {%- if mentor -%}
                {{- mentor.fullname -}}
              {%- endif -%}
            {%- endif -%}
            <cite title="Source Title">
              {% if app.user.id == event.author.id %}
              <ul class="nav nav-pills">
                <li>
                  <a href="{{ path('event_edit', { 'id': event.id }) }}">
                    {{- 'button.edit' | trans -}}
                  </a>
                </li>
                {% if event.notes | length < 1 -%}
                  <li>
                    {{ form_start(delete_form) }}
                      <button type="submit" type="submit" class="btn btn-link">
                        {{- 'button.delete' | trans -}}
                      </button>
                    {{ form_end(delete_form) }}
                  </li>
                {%- endif %}
              </ul>
            {%- endif %}
            </cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    {% include 'WitProgramCalendarBundle:eventnote:_list.html.twig' %}
  </div>
</div>

{% endblock %}
