{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Partner</h1>
    </div>

    <ul class="nav-internal list-unstyled">
        <li>
            <a href="{{ path('partner_edit', { 'id': partner.id }) }}" class="btn btn-primary btn-sm">{{ 'button.edit' | trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button class="btn btn-primary btn-sm" type="submit">
                    {{- 'button.delete' | trans -}}
                </button>
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <div class="row">
        <div class="col-md-6 col-sm-12">

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>{{ 'name' | trans }}</th>
                        <td>{{ partner.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'email' | trans }}</th>
                        <td>{{ partner.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'url' | trans }}</th>
                        <td>{% if partner.url %}<a href="{{ partner.url }}">{{ partner.url }}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{{ 'editions' | trans }}</th>
                        <td>
                            <ul>
                            {%- for edition in partner.editions %}
                                <li>{{ 'edition' | trans }} {{ edition.name }}</li>
                            {% endfor -%}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6 col-sm-12">
            {# photo #}
            {% if partner.photoName %}
                <div class="cover">
                    <img class="img-detail"
                        src="{{ vich_uploader_asset(partner, 'photoFile') | imagine_filter('detail_thumb') }}" alt="{{ partner.name }}" />
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}
