{% if images %}
    <table id="imagespreview" class="table">
        <thead>
            <tr class="header-legend">
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    {# photo #}
                    {% if image.photoName %}
                        <div class="cover">
                            <img class="img-detail"
                                src="{{ vich_uploader_asset(image, 'photoFile') | imagine_filter('list_thumb') }}" alt="{{ image.photoFile }}" />
                        </div>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('gallery_show', { 'id': image.id }) }}">{{ 'button.show' | trans }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    {% include 'WitSiteBundle:helper:emptyResult.html.twig' %}
{% endif %}

