{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    {%- stylesheets '@jquery_ui_css' -%}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {%- endstylesheets %}
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {%- javascripts '@jquery_ui_js' -%}
        <script src='{{ asset_url }}'></script>
    {%- endjavascripts %}

    <script>
        $(function() {
            $("#sortable").sortable({
                placeholder: "ui-state-highlight",
                handle: ".handle",
                update: function (event, ui) {

                    var data = {
                        'id': ui.item.data('id'),
                        'position' : ui.item.index()
                    };

                    $.ajax({
                        data: data,
                        type: 'POST',
                        url: '{{ path("gallery_sort") }}',
                        success: function(data) {
                            $('#imagespreview').replaceWith(data);
                        }
                    });
                }
            });
            $( "#sortable" ).disableSelection();
        });
    </script>

{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>{{ 'image.list' | trans }}</h1>
    </div>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#list" data-toggle="tab" aria-expanded="true">{{ 'button.preview' | trans }}</a></li>
      <li class=""><a href="#sort" data-toggle="tab" aria-expanded="false">{{ 'button.sort' | trans }}</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade active in" id="list">

        <ul class="nav-internal list-unstyled">
          <li>
            <a class="btn btn-primary btn-sm" href="{{ path('gallery_new') }}">{{ 'button.new' | trans }}</a>
            </li>
        </ul>

        {% include 'WitProgramAdminGalleryBundle:gallery:_list.html.twig' %}

      </div>

        <div class="tab-pane fade" id="sort">

        {% include 'WitProgramAdminGalleryBundle:gallery:_sort.html.twig' %}

        </div>
    </div>
{% endblock %}
