<form class="filter-by-editions">
  <div class="row">
    <div class="col-sm-6">
      <select class="form-control">
        {% for e in editions %}
          {# on change ajax query persons from given edition #}
          <option
            data-action="{{- path('edition_persons_list', {'id' : e.id }) -}}"
            data-sort="{{ path('edition_mentors_sort', {'id' : e.id }) }}"
            data-list-xls="{{- path('person_export_list', {'edition' : e.id }) -}}"
            data-chosen-xls="{{- path('person_export_chosen', {'edition' : e.id }) -}}"
              {# select last edition by default #}
              {%- if loop.last == true %} selected {% endif -%}
          >{{- 'edition' | trans }} {{ e.name -}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-6">
      <ul class="nav-internal nav-float-inline list-unstyled">
        <li>
          <a id="download-mentees-list"
            href="{{- path('person_export_list', {'edition' : edition.id }) -}}"
            type="button"
            class="btn btn-default"
            data-toggle="tooltip"
            data-placement="top"
            title="{{ 'export.mentees.list.download.description' | trans }}">{{ 'export.mentees.list.download.xls' | trans }}</a>
        </li>
        <li>
          <a id="download-chosen-mentees"
            href="{{- path('person_export_chosen', {'edition' : edition.id }) -}}"
            type="button"
            class="btn btn-default"
            data-toggle="tooltip"
            data-placement="top"
            title="{{ 'export.mentees.chosen.download.description' | trans }}">{{ 'export.mentees.chosen.download.xls' | trans }}</a>
        </li>
      </ul>
    </div>
  </div>{#row#}
</form>
