<div id="itemsFiltered">
{% if persons | length > 0 %}
  <table id="preview" class="table table-hover">
    <thead>
      <tr class="header-legend">
        <th>{{ 'person.name' | trans }}</th>
        <th>{{ 'person.lastName' | trans }}</th>
        <th>{{ 'edition' | trans }}</th>
        <th>{{ 'submission.date' | trans }}</th>
        <th>{{ 'email' | trans }}</th>
        <th data-toggle="tooltip" data-placement="top" title="{{ 'mentee.accept.description' | trans }}" class="text-center">{{ 'mentee.isAccepted' | trans }}</th>
        <th data-toggle="tooltip" data-placement="top" title="{{ 'mentee.chosen.description' | trans }}" class="text-center">{{ 'mentee.isChosen' | trans }}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    {% for person in persons %}
      <tr class="{%- if person.isChosen -%}success{%- elseif person.isAccepted -%}info{%- endif -%}">
        <td>{{ person.name }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.edition.name }}</td>
        <td>{% if person.createdAt %}{{ person.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>{{ person.email }}</td>
        <td class="text-center">
          {%- if person.isAccepted -%}
              {{- 'yes' | trans -}}
          {%- else -%}
              {{- 'no' | trans -}}
          {%- endif -%}
        </td>
        <td class="text-center">
          {%- if person.isChosen -%}
              {{- 'yes' | trans -}}
          {%- else -%}
              {{- 'no' | trans -}}
          {%- endif -%}
        </td>
        <td>
          <a href="{{ path('person_show', { 'id': person.id }) }}">{{ 'button.show' | trans }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  {% include 'WitSiteBundle:helper:emptyResult.html.twig' %}
{% endif %}
</div>
