{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {#
    Popover requires tooltip.js,
    kolejność dołączania skryptów ma znaczenie
    #}
    {%- javascripts
      '@tooltip'
      '@popover'
    -%}
        <script src='{{ asset_url }}'></script>
    {%- endjavascripts %}

    {#
    https://getbootstrap.com/docs/3.3/javascript/#tooltips
    For performance reasons, the Tooltip and Popover data-apis are opt-in, meaning you must initialize them yourself
    #}

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
      $(function () {
        $('[data-toggle="popover"]').popover();
      });
    </script>
{% endblock %}

{% block body -%}
  <h1>{{ person.fullname }}</h1>

  {# person undergone initial recruitment #}
  {%- if  person.isAccepted -%}
    <div class="alert alert-success" role="alert">
      {{- 'mentee.accepted.description' | trans -}}
    </div>
    {%- if  person.isChosen -%}
      <div class="alert alert-success" role="alert">
        {{- 'mentee.chosen.description' | trans -}}
      </div>
    {%- endif -%}
  {%- endif -%}

  {# person not chosen by mentor or admin to the programme #}
  {%- if
    not person.isChosen
    and
    person.mentor.findChosenPerson
  -%}
    <div class="alert alert-danger" role="alert">
      {{- 'mentee.rejected' | trans -}}
    </div>
  {%- endif -%}

  {% if person.invitation %}

      {% if person.invitation.isAccepted %}
        <div class="alert alert-success" role="alert">
          {{- 'invitation.accepted' | trans -}}
        </div>
      {%- else -%}
        <div class="alert alert-warning" role="alert">
          {{- 'invitation.pending' | trans -}}
        </div>
      {%- endif -%}

    {% endif %}

  {# menu #}
  <ul class="nav-internal list-unstyled">
    {# delete #}
    {% if is_granted("ROLE_SUPER_ADMIN") %}
      <li>
        {{ form_start(delete_form) }}
          <button class="btn btn-primary btn-sm" type="submit">
            {{- 'button.delete' | trans -}}
          </button>
        {{ form_end(delete_form) }}
      </li>
    {% endif %}
    {# export #}
    <li>
      <a href="{{ path('person_export_answers', {'id' : person.id }) }}" type="button" class="btn btn-primary btn-sm">{{ 'export.download.pdf' | trans }}</a>
    </li>
    {# change mentee's mentor choice #}
    <li>
    {% if
      not config.getIsSignupMenteesEnabled
      and
      not person.isChosen
    %}
        <a data-toggle="tooltip" data-placement="top" title="{{ 'mentee.changeMentor.description' | trans }}" href="{{ path('person_change_mentor', {'id' : person.id }) }}" type="button" class="btn btn-primary btn-sm">{{ 'mentee.changeMentor.button' | trans }}</a>
    {# if mentor did not decided yet #}
    {% else %}
        {#
        Specific markup required for dismiss-on-next-click.
        For proper cross-browser and cross-platform behavior,
        you must use the <a> tag, not the <button> tag,
        and you also must include the role="button" and tabindex attributes.
        #}
        <a tabindex="0" class="btn btn-lg btn-default btn-sm" role="button" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="{{ 'option.not.enabled' | trans }}" data-content="{{- 'mentee.changeMentor.not.enabled' | trans -}}">{{- 'mentee.changeMentor.button' | trans -}}</a>
    {% endif %}
    </li>
    {# accept to the mentor's choice #}
    {% if not person.isAccepted %}
      <li>
        {{ form_start(accept_form) }}
          <button data-toggle="tooltip" data-placement="top" title="{{ 'mentee.accept.description' | trans }}" class="btn btn-primary btn-sm" type="submit">
            {{- 'mentee.accept.button' | trans -}}
          </button>
        {{ form_end(accept_form) }}
      </li>
    {% endif %}
    {# send invitation to register #}
    {% if
      person.isChosen
      and
      not person.invitation
    %}
      <li>
        {{- form_start(invite_form) -}}
            <button data-toggle="tooltip" data-placement="top" title="{{ 'mentor.invitation.description' | trans }}" class="btn btn-primary btn-sm" type="submit">
              {{- 'button.invite' | trans -}}
            </button>
        {{- form_end(invite_form) -}}
      </li>
    {% endif %}
  </ul>

  {# if accepted then can be chosen #}
  {%- if
    person.isAccepted
    and
    not person.isChosen
    and
    not person.mentor.findChosenPerson
  -%}
    {# menu #}

    {#
    przypisz uczestniczkę ostatecznie do mentora
    (najwidoczniej mentor tego nie zrobił)
    #}

    <ul class="nav-internal list-unstyled">
      <li>
        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          {{- 'mentee.choose.button' | trans -}}
        </button>
        <div class="collapse" id="collapseExample">
          <div class="well">
            <p>Jesli mentor nie wybrał żadnej uczestniczki, możesz dokonać wyboru za niego tutaj.</p>
            <p>Tej operacji nie będzie dało się już odwrócić.</p>
            {{ form_start(choose_form) }}
              <button data-toggle="tooltip" data-placement="top" title="{{ 'mentee.choose.description' | trans }}" class="btn btn-danger btn-sm" type="submit">
                Mentor <strong>{{ person.mentor.fullname }}</strong> wybiera ostatecznie uczestniczkę <strong>{{ person.fullname }}</strong>
              </button>
            {{ form_end(choose_form) }}
          </div>
        </div>
      </li>
    </ul>
  {%- endif -%}

  <table class="table table-hover">
      <tbody>
          <tr>
              <th>{{ 'person.education' | trans }}</th>
              <td>{{ person.education | trans }}</td>
          </tr>
          <tr>
              <th>{{ 'person.age' | trans }}</th>
              <td>{{ person.age }}</td>
          </tr>
          <tr>
              <th>{{ 'email' | trans }}</th>
              <td>{{ person.email }}</td>
          </tr>
          <tr class="info">
              <th>{{ 'mentor' | trans }}</th>
              <td>
                  {{- person.mentor.fullname -}}
                  {%- if person.originalMentorChoice -%}
                      <br />
                      <small>
                          {{- 'mentee.originalMentorChoice' | trans -}}:&nbsp;{{- person.originalMentorChoice -}}
                      </small>
                  {%- endif -%}
              </td>
          </tr>
          <tr>
              <th>{{ 'edition' | trans }}</th>
              <td>{{ 'edition' | trans }} {{ person.edition.name }}</td>
          </tr>
      </tbody>
  </table>

  {% if person.videoUrl %}
      <h3>Video</h3>
          {% if videoEmbed %}
              <p class="well">
                  <small>{{ 'person.video.problem' | trans }} {{ 'person.video.provider' | trans }} <a href="{{ person.videoUrl }}">{{ videoEmbed.provider.name }}</a>.</small>
              </p>
          {{ videoEmbed.html | raw }}
      {% else %}
          <p>{{ 'person.video.bad_url' | trans }} <a href="{{ person.videoUrl }}">{{ 'person.video.go_to' | trans }}</a></p>
      {% endif %}
      <br /><br />
  {% endif %}

  {# start collapse #}
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    {% if person.answers is not empty %}
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            {{ 'answer.list' | trans }}
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          {# answers if any #}
          {% include 'WitProgramAdminQuestionnaireBundle:answer:_full_list.html.twig' with {'answers' : answers} %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

{% endblock %}
