    <div class="row">
  <div class="col-md-8 col-sm-12">
    <div id="itemsFiltered">
        <table id="preview" class="table table-hover">
           {#  <thead>
                <tr class="header-legend">
                    <th>{{ 'person.name' | trans }}</th>
                    <th>{{ 'lastname' | trans }}</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead> #}
            {# <tbody> #}
            {% for person in persons %}
                <tr{%- if person.isChosen %} class="success"{%- endif -%}>
                    <td>
                        {{- person.fullname -}}
                    </td>
                    <td>
                      {%- if person.isChosen -%}
                        {{- 'account.mentor.mentee.chosen' | trans -}}
                      {%- endif -%}</td>
                    <td>
                        <a href="{{ path('account_mentor_mentee_show', { 'id': person.id }) }}">{{ 'button.show' | trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            {# </tbody> #}
        </table>
    </div>
  </div>
</div>
