{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    {#
        disable login page for logeed in people
        default_target_path in security.yml does not work
        you could override fos controller login action
        or dispay message here:
     #}
    {%- if is_granted("IS_AUTHENTICATED_REMEMBERED") -%}

      <div class="alert alert-dismissible alert-success single-alert">
        {# <button type="button" class="close" data-dismiss="alert">&close;</button> #}
        {{ 'user.already.logged' | trans }}
      </div>

      {% if error %}
          <div class="alert alert-dismissible alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
          </div>
      {% endif %}

    {% else %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sx-12">
            <h1>{{ 'user.login'|trans }}</h1>

            {# change translations domain #}
            {% trans_default_domain 'FOSUserBundle' %}

          <div class="login-form">
            <form  role="form" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="form-group">
                    <label
                        class="login-field-icon fui-user"
                        for="username"></label>
                        <input
                        type="text"
                        id="username"
                        class="form-control login-field"
                        placeholder="{{ 'security.login.username'|trans }}"
                        name="_username"
                        value="{{ last_username }}"
                        required="required"
                    />
                </div>
                <div class="form-group">
                    <label
                        class="login-field-icon fui-lock"
                        for="password"></label>
                        <input
                        type="password"
                        id="password"
                        class="form-control login-field"
                        placeholder="{{ 'security.login.password'|trans }}"
                        name="_password"
                        required="required"
                    />
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>{{ 'security.login.remember_me'|trans -}}
                    </label>
                </div>
                <button
                    id="_submit"
                    name="_submit"
                    type="submit"
                    class="btn btn-primary btn-lg btn-block">{{ 'security.login.submit'|trans -}}
                </button>

                <a class="login-link" href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans }}</a>
            </form>
          </div>
        </div>
      </div>
    {% endif %}

{% endblock fos_user_content %}
