{# app/Resources/views/form/form_theme.html.twig #}
{# currently not in use #}

{% block form_row %}
    <div class="form-group {{ errors|length > 0 ? 'has-error' : '' }}">
        {{ form_label(form) }}
        {% if errors|length > 0 %}
            <div class="text-danger">
                {{ form_errors(form) }}
            </div>
        {% else %}
            {{ form_errors(form) }}
        {% endif %}
        {{ form_widget(form, { 'attr': {'class': 'form-control'} } ) }}
    </div>
{% endblock form_row %}

