{% extends 'SiteBundle::email.html.twig' %}

{% block body %}

<table style="color:#2D3F50;" cellpadding="0" cellspacing="0" width="100%">

{# @todo include an image - server hsa some problems with embedding with absolute resource url #}
{#   <tr>
    <td style="padding: 20px 0;">
      <img src="{{ headerImage }}" alt="Tech Leaders" width="800" style="display: block;" />
    </td>
  </tr> #}

  {# <tr>
    <td>
      <h3 style="color:#28bb9c;">{{ 'hi' | trans }} {{ name }}!</h3>
    </td>
  </tr> #}

  <tr>
    <td style="padding: 20px 0 30px 0;">
      <h4 style="color:#28bb9c;">{{- 'hi' | trans({}, null, 'en') }} {{ name }},</h4>

      <h4 style="color:#28bb9c;">Congratulations! You are in the Tech Leaders program! Four months of great adventure before you. ;)
      </h4>
      <p>Your mentor is <strong>{{ mentor }}</strong></p>
      <p>We send you the registration link for the panel of our website below:
        <a href="{{ registrationLink }}"><br />
          {{- 'mail.link.to.register' | trans({}, null, 'en') -}}
        </a><br />
        Login: your email address<br />
        Password: create a password during your first login<br />
        After your first registration, you can log in to the panel from the Tech Leaders homepage (<a href="https://techleaders.eu">Tech Leaders</a>) by clicking "Login" at the top-right page corner.
      </p>

      <p>
        In your panel you will find a calendar. It allows you to send meeting invitations and add notes with your goals and topics for upcoming meetings. The calendar makes your and mentor’s work easier and it helps us evaluate your progress.
      </p>

      {# todo dodać info o ewaluacji programu - kalendarz #}
      <p>If you have any question, feel free to ask me elakoma@womenintechnology.pl</p>

      <p>
        {{ 'thankyou.bestregards' | trans({}, null, 'en') }},<br />
        {{ 'thankyou.team' | trans({}, null, 'en') }},<br />
        <a href="https://techleaders.eu">Tech Leaders</a><br />
        <a href="http://womenintechnology.pl">Women in Technology</a><br />
      </p>
    </td>
  </tr>

  {# <tr>
    <td>
      {{ 'thankyou.bestregards' | trans }},<br />
      {{ 'thankyou.team' | trans }},<br />
      <a href="https://techleaders.eu">Tech Leaders</a><br />
      <a href="http://womenintechnology.pl">Women in Technology</a><br />
    </td>
  </tr> #}

</table>

{# TODO stopka, link do strony techleaders #}
{# example, assuming you have a route named "login" #}
{# To login, go to: <a href="{{ url('login') }}">...</a>. #}
{# Makes an absolute URL to the /images/logo.png file #}
{# <img src="{{ absolute_url(asset('images/logo.png')) }}"> #}
{% endblock %}
