{# <div class="row">
    <div class="col-sm-6 col-xs-12">
        {{ form_start(form) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-default" id="_submit" name="_submit">{{ 'button.save' | trans }}</button>

        {{ form_end(form) }}
    </div>
</div> #}
{{ form_start(form) }}

{#
    callback validation error messages for translatable fields must be printed here
    or @FIXME elswere
#}

{% if not form.vars.valid %}
    <div class="alert-error">
        {{ form_errors(form) }}
    </div>
{% endif %}

<div class="row">

    <div class="col-sm-6 col-xs-12">
        {{ form_row(form.name) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.url) }}
        <p class="text-info helpblock">
            <small>{{ 'mentor.url.description' | trans }}</small>
        </p>
        {{ form_row(form.personalUrl) }}
        <p class="text-info helpblock">
            <small>{{ 'mentor.personalUrl.description' | trans }}</small>
        </p>
        {{ form_row(form.company) }}
        <p class="text-info helpblock">
            <small>{{ 'mentor.company.description' | trans }}</small>
        </p>

        {{ form_row(form.editions) }}

        {{ form_row(form.photoFile) }}

        {#
        @TODO customize translatable fields layout

        http://symfony.com/doc/current/form/form_customization.html#how-to-customize-an-individual-field

        https://github.com/a2lix/TranslationFormBundle/blob/master/Resources/views/default.html.twig

        #}
        <span class="caret"></span>

        {{ form_row(form.translations) }}
        {# <p class="text-info helpblock">
            <small>{{ 'mentor.bio.description' | trans }}</small>
        </p> #}
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <button type="submit" class="btn btn-default" id="_submit" name="_submit">{{ 'button.save' | trans }}</button>
    </div>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
