<article class="row">
  <div class="col-md-6 col-sm-12">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>{{ 'name' | trans }}</th>
          <td>{{ mentor.name }}</td>
        </tr>
        <tr>
          <th>{{ 'lastname' | trans }}</th>
          <td>{{ mentor.lastName }}</td>
        </tr>
        <tr>
          <th>{{ 'email' | trans }}</th>
          <td>{{ mentor.email }}</td>
        </tr>
        <tr>
          <th>{{ 'mentor.occupation' | trans }}</th>
          <td>
            {# @FIXME hardcoded locale list #}
            <ul>
             <li>
               {%- if mentor.translate('en', false).occupation %}
                  EN: {{ mentor.translate('en', false).occupation | nl2br -}}
               {%- else -%}
                  <span class="text-danger">EN</span>
                  <small>{{ 'result.empty' | trans }}</small>
               {%- endif -%}
             </li>
             <li>
               {%- if mentor.translate('pl', false).occupation %}
                  PL: {{ mentor.translate('pl', false).occupation | nl2br -}}
               {%- else -%}
                  <span class="text-danger">PL</span>
                  <small>{{ 'result.empty' | trans }}</small>
               {%- endif -%}
             </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>{{ 'company.name' | trans }}</th>
          <td>{{ mentor.company }}</td>
        </tr>
        <tr>
          <th>{{ 'url' | trans }}</th>
          <td>
            <ul>
             {%- if mentor.url -%}
             <li>
               <a href="{{ mentor.url }}">{{ mentor.url }}</a>
             </li>
             {%- endif -%}
             {%- if mentor.personalUrl -%}
             <li>
               <a href="{{ mentor.personalUrl }}">{{ mentor.personalUrl }}</a>
             </li>
             {%- endif -%}
            </ul>
          </td>
        </tr>
        <tr>
          <th>{{ 'editions' | trans }}</th>
          <td>
            <ul>
            {%- for e in mentor.editions %}
             <li>
               {{- 'edition' | trans }} {{ e.name -}}
             </li>
            {% endfor -%}
            </ul>
          </td>
        </tr>
        <tr>
          <th>{{ 'mentor.bio' | trans }}</th>
          <td>
          {# @FIXME hardcoded locale list #}
            <ul>
             <li>
               {%- if mentor.translate('en', false).bio %}
                  EN: {{ mentor.translate('en', false).bio | nl2br -}}
               {%- else -%}
                  <span class="text-danger">EN</span>
                  <small>{{ 'result.empty' | trans }}</small>
               {%- endif -%}
             </li>
             <li>
               {%- if mentor.translate('pl', false).bio %}
                  PL: {{ mentor.translate('pl', false).bio | nl2br -}}
               {%- else -%}
                  <span class="text-danger">PL</span>
                  <small>{{ 'result.empty' | trans }}</small>
               {%- endif -%}
             </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6 col-sm-12">
  {# photo #}
  {% if mentor.photoName %}
    <div class="cover">
      {# <img class="img-detail"
        src="{{ vich_uploader_asset(mentor, 'photoFile') }}" alt="{{ mentor.fullname }}" /> #}
      <img class="img-detail"
        src="{{ vich_uploader_asset(mentor, 'photoFile') | imagine_filter('detail_thumb') }}" alt="{{ mentor.fullname }}" />
    </div>
  {% endif %}
  </div>
</article>
