{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block javascripts %}

  {{ parent() }}

  {#
  Popover requires tooltip.js,
  kolejność dołączania skryptów ma znaczenie
  #}

  {%- javascripts
      '@spin_js'
      '@tooltip'
      '@popover'
  -%}
      <script src='{{ asset_url }}'></script>
  {%- endjavascripts %}

  <script>
    $("body").tooltip({
      selector: '[data-toggle="tooltip"]',
      container: 'body'
    });
    // $('[data-toggle="tooltip"]').tooltip();
  </script>

  <script>
    $(function() {
      $('form.edition-mentees select').change(function (e) {
        e.preventDefault();

        /** @type {Object} Spinner */
        var opts = {
            lines: 9 // The number of lines to draw
          , length: 47 // The length of each line
          , width: 13 // The line thickness
          , radius: 43 // The radius of the inner circle
          , scale: 0.75 // Scales overall size of the spinner
          , corners: 1 // Corner roundness (0..1)
          , color: '#000' // #rgb or #rrggbb or array of colors
          , opacity: 0 // Opacity of the lines
          , rotate: 0 // The rotation offset
          , direction: 1 // 1: clockwise, -1: counterclockwise
          , speed: 0.7 // Rounds per second
          , trail: 60 // Afterglow percentage
          , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
          , zIndex: 2e9 // The z-index (defaults to 2000000000)
          , className: 'spinner' // The CSS class to assign to the spinner
          , top: '30px' // Top position relative to parent
          , left: '50%' // Left position relative to parent
          , shadow: false // Whether to render a shadow
          , hwaccel: false // Whether to use hardware acceleration
          , position: 'absolute' // Element positioning
        }

        var spinner = new Spinner(opts).spin();
        $('#itemsFiltered').addClass('loading').get(0).appendChild(spinner.el);

        var actionUrl = $(this).find(':selected').data('action');
        var pdfUrl = $(this).find(':selected').data('pdf');

        $.get(actionUrl, function(data) {
          // refresh list
          $('#itemsFiltered').replaceWith(data);
          // update link to download pdf
          $('form.edition-mentees a.btn').attr('href', pdfUrl);
        });
      });
    });
  </script>

{% endblock %}

{% block body %}
    <div class="page-header">
      <h1>{{ 'mentor.self' | trans }}</h1>
    </div>

    {% if mentor.invitation %}

      {% if mentor.invitation.isAccepted %}
        <div class="alert alert-success" role="alert">
          {{- 'invitation.accepted' | trans -}}
        </div>
      {%- else -%}
        <div class="alert alert-warning" role="alert">
          {{- 'invitation.pending' | trans -}}
        </div>
      {%- endif -%}

      {%- if mentor.findChosenPerson -%}
        <div class="alert alert-success" role="alert">
          {# @todo translate #}
          Wybraną podopieczną mentora jest {{ mentor.findChosenPerson.fullname }}
        </div>
      {%- else -%}
        <div class="alert alert-warning" role="alert">
          {# @todo translate #}
          Mentor jeszcze nie wybrał podopiecznej
        </div>
      {%- endif -%}

    {%- elseif mentor.editions | length < 1 -%}
      <div class="alert alert-danger" role="alert">
      {{ 'mentor.hasNoEdition' | trans }}
      </div>
    {% endif %}

    <ul class="nav-internal list-unstyled">
        <li>
            <a href="{{ path('mentor_edit', { 'id': mentor.id }) }}" class="btn btn-primary btn-sm">{{- 'button.edit' | trans -}}</a>
        </li>
        {% if
            mentor.editions | length > 0
            and
            not
            mentor.invitation
        %}
        <li>
          {{- form_start(invite_form) -}}
              <button data-toggle="tooltip" data-placement="top" title="{{ 'mentor.invitation.description' | trans }}" class="btn btn-primary btn-sm" type="submit">
                {{- 'button.invite' | trans -}}
              </button>
          {{- form_end(invite_form) -}}
        </li>
        {% endif %}
        {% if is_granted("ROLE_SUPER_ADMIN") %}
        {#
        @todo
        usunięcie mentora spowoduje usunięcie konta usera tego mentora?
        sprawdź!
        #}
        <li>
            {{- form_start(delete_form) -}}
                <button class="btn btn-primary btn-sm" type="submit">
                  {{- 'button.delete' | trans -}}
                </button>
            {{- form_end(delete_form) -}}
        </li>
        {% endif %}
    </ul>

    {% include 'WitProgramAdminEditionBundle:Mentor:_profile.html.twig' %}

    {# start collapse #}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      {% if mentor.answers is not empty %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              {{ 'answer.list' | trans }}
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            {# mentors answers if any #}
            {% include 'WitProgramAdminQuestionnaireBundle:Answer:_full_list.html.twig' with {'answers' : answers} %}
          </div>
        </div>
      </div>
      {% endif %}

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              {{ 'person.list' | trans }} ({{ persons | length }})
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            {% if mentor.editions | length > 0 %}

              {# !!! displays only assigned editions (and people from assigned editionst) !!! #}

              {# form export to pdf persons who chose that mentor #}
              <form class="edition-mentees">
                <div class="row">
                  <div class="col-sm-10">
                    <select class="form-control">
                      {# empty choice by default #}
                      {# @TODO translate #}
                      <option disabled selected value> -- select an option -- </option>
                      {% for e in mentor.editions %}
                        {# on change ajax query mentor's person from given edition #}
                        <option
                          data-action="{{- path('mentor_persons', {'id' : mentor.id, 'edition': e.id }) -}}"
                          data-pdf="{{- path('mentor_export_mentees_answers', {'id' : mentor.id, 'edition' : e.id }) -}}"
                          {# select last edition by default #}
                          {%- if loop.last == true %} selected {% endif -%}
                          >
                          {{- 'edition' | trans }} {{ e.name -}}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
                  <div class="col-sm-2">
                    {# @todo form POST #}
                    <a href="{{ path('mentor_export_mentees_answers', {'id' : mentor.id, 'edition' : edition.id }) }}" type="button" class="btn btn-default">{{ 'export.download.pdf' | trans }}</a>
                  </div>
                </div>
              </form>

              {# persons who chose that mentor #}
              {% include 'WitProgramAdminEditionBundle:Person:_list.html.twig' %}

            {% else %}
              {% include 'WitSiteBundle:helper:emptyResult.html.twig' with {'message' : 'mentor.hasNoEdition'} %}
            {% endif %}
          </div>
        </div>
      </div>

    </div>

{% endblock %}
