{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Sponsor</h1>
    </div>

    <ul class="nav-internal list-unstyled">
        <li>
            <a href="{{ path('sponsor_edit', { 'id': sponsor.id }) }}" class="btn btn-primary btn-sm">{{ 'button.edit' | trans }}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <button class="btn btn-primary btn-sm" type="submit">
                    {{- 'button.delete' | trans -}}
                </button>
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <div class="row">
        <div class="col-md-6 col-sm-12">

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>{{ 'name' | trans }}</th>
                        <td>{{ sponsor.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'email' | trans }}</th>
                        <td>{{ sponsor.email }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'url' | trans }}</th>
                        <td>{% if sponsor.url %}<a href="{{ sponsor.url }}">{{ sponsor.url }}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{{ 'editions' | trans }}</th>
                        <td>
                            <ul>
                            {%- for edition in sponsor.editions %}
                                <li>{{ 'edition' | trans }} {{ edition.name }}</li>
                            {% endfor -%}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'sponsor.description' | trans }}</th>
                        <td>{{ sponsor.description | nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6 col-sm-12">
            {# photo #}
            {% if sponsor.photoName %}
                <div class="cover">
                    <img class="img-detail"
                        src="{{ vich_uploader_asset(sponsor, 'photoFile') | imagine_filter('detail_thumb') }}" alt="{{ sponsor.name }}" />
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}
