{% extends 'UserBundle::account.html.twig' %}

{% block body %}
  <div class="page-header">
    <h1>{{ event.title }}</h1>
    {# <h2>{{ formatTimeRange(event.startTime, event.endTime) }} <small>{{ diffDateRange(event.startTime, event.endTime) }}</small></h2> #}
    <h3>{{ formatDateRange(event.startTime, event.endTime) }}&nbsp;<small>{{ formatTimeRange(event.startTime, event.endTime) }}</small></h3>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">

      <table class="table">
        <tbody>
          <tr>
            <th>{{ 'event.author' | trans }}</th>
            <td>
              <a href="{{ path('user_show', { 'id': event.author.id }) }}">{{- event.author.fullname -}}
              </a>
              </td>
          </tr>
          <tr>
            <th>{{ 'event.participants' | trans }}</th>
            <td>
              {# {%- if event.participants|length > 0 -%}
                <ul>
                {% for user in event.participants %}
                    <li>{{ user.fullname }}</li>
                {% endfor %}
                </ul>
              {%- else -%}
                {%- if is_granted("ROLE_MENTOR") -%}
                  {%- set mentee = app.user.invitation.mentor.findChosenPerson -%}
                    {%- if mentee -%}
                      {{- mentee.fullname -}}
                    {%- endif -%}
                {%- endif -%}
              {%- endif -%} #}
              {%- if event.participant -%}
                <ul>
                    <li>{{ event.participant.fullname }}</li>
                </ul>
              {%- elseif event.author.invitation.mentor -%}
                {%- set mentee = event.author.invitation.mentor.findChosenPerson -%}
                {%- if mentee -%}
                  {{- mentee.fullname -}}
                {%- endif -%}
              {%- elseif event.author.invitation.person -%}
                {%- set mentor = event.author.invitation.person.mentor -%}
                {%- if mentor -%}
                  {{- mentor.fullname -}}
                {%- endif -%}
              {%- endif -%}
            </td>
          </tr>
          <tr>
            <th>{{ 'event.description' | trans }}</th>
            <td>{{ event.description | nl2br }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
