{% extends 'UserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{ 'config.current' | trans }}</h1>
    </div>

    <ul class="nav-internal list-unstyled">
        <li>
            <a href="{{ path('config_edit', { 'id': config.id }) }}" class="btn btn-primary btn-sm">{{ 'button.edit' | trans }}</a>
        </li>
    </ul>

    <article class="row">
        <div class="col-md-6 col-sm-12">

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>{{ 'organization.email.partners' | trans }}</th>
                        <td>{{ config.partnersEmail }}</td>
                    </tr>
                    {%- if buttonsSectionsEnabled.menteesExternalSignup -%}
                    <tr>
                        <th>{{ 'config.signup.menteesExternalSignupUrl' | trans }}</th>
                        <td>{{ config.menteesExternalSignupUrl }}</td>
                    </tr>
                    {%- endif -%}
                    {%- if buttonsSectionsEnabled.mentors is defined -%}
                    <tr>
                        <th>{{ 'config.signup.isSignupMentorsEnabled' | trans }}</th>
                        <td>{% if config.isSignupMentorsEnabled %}{{ 'yes' | trans }}{% else %}{{ 'no' | trans }}{% endif %}</td>
                    </tr>
                    {%- endif -%}
                    {%- if buttonsSectionsEnabled.partners is defined -%}
                        <tr>
                            <th>{{ 'config.signup.isSignupPartnersEnabled' | trans }}</th>
                            <td>{% if config.isSignupPartnersEnabled %}{{ 'yes' | trans }}{% else %}{{ 'no' | trans }}{% endif %}</td>
                        </tr>
                    {%- endif -%}
                    {%- if
                        buttonsSectionsEnabled.menteesExternalSignup is defined
                        or
                        buttonsSectionsEnabled.mentees is defined
                    -%}
                        <tr>
                            <th>{{ 'config.signup.isSignupMenteesEnabled' | trans }}</th>
                            <td>{% if config.isSignupMenteesEnabled %}{{ 'yes' | trans }}{% else %}{{ 'no' | trans }}{% endif %}</td>
                        </tr>
                    {%- endif -%}
                </tbody>
            </table>
        </div>
    </article>

{% endblock %}
