{% extends 'AdminBundle::pdf_report.html.twig' %}

{% block body %}

    <div class="page-header">
      <div class="pull-right">
        <p class="text-muted">{{ 'export.generated' | trans }}: {{ 'now' | date('Y-m-d') }}</p>
        <p class="text-muted">{{ 'answer.list' | trans }}, {{ 'edition' | trans }} {{ edition.name -}}</p>
      </div>
        <h1>Tech Leaders Mentor <span class="text-success">/</span> {{ mentor.fullname }}</h1>
    </div>

    {% if persons is not empty %}
      {% for person in persons %}
        <h4>
          <big>#{{ loop.index }}</big>&nbsp;&nbsp;<span class="text-success">{{ person.fullname }}</span>
        </h4>

        <table class="table">
          <tr>
            <td style="width:10%"><b>{{ 'person.education' | trans }}</b></td>
            <td>{{ person.education | trans }}</td>
          </tr>
          <tr>
            <td style="width:10%"><b>{{ 'person.age' | trans }}</b></td>
            <td>{{ person.age }}</td>
          </tr>
          <tr>
            <td style="width:10%"><b>Video</b></td>
            <td>
              {% if person.videoUrl %}
                  {{ person.videoUrl }}
              {% else %}
                  {{ 'none' | trans }}
              {% endif %}
            </td>
          </tr>
        </table>

        <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">

                  {% for answer in person.answers %}
                    {% if answer.question.isVisibleForMentor %}
                      <p><strong>{{ answer.question.name }}</strong></p>
                      <p class="user-content">
                        {%- if answer.answerChoice -%}
                          {{- answer.answerChoice.name -}}
                        {%- else -%}
                          {{- answer.content | raw | striptags | escape -}}
                        {%- endif -%}
                      </p>
                    {% endif %}
                  {% endfor %}

            </div>
        </div>
      {% endfor %}
    {% else %}
        {% include 'SiteBundle:helper:emptyResult.html.twig' %}
    {% endif %}
{% endblock %}
