{% extends 'UserBundle::account.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>{{- 'menu.organization' | trans -}}</h1>
    </div>

    <ul class="nav-internal list-unstyled">
        <li>
            <a href="{{ path('organization_edit', { 'id': organization.id }) }}" class="btn btn-primary btn-sm">{{ 'button.edit' | trans }}</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-md-6 col-sm-12">

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>{{ 'name' | trans }}</th>
                        <td>{{ organization.name }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'organization.email.contact' | trans }}</th>
                        <td>{{ organization.contactEmail }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'url' | trans }}</th>
                        <td>{% if organization.url %}<a href="{{ organization.url }}">{{ organization.url }}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{{ 'Facebook page' | trans }}</th>
                        <td>{% if organization.fbUrl %}<a href="{{ organization.url }}">{{ organization.fbUrl }}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{{ 'description' | trans }}</th>
                        <td>{{ organization.description | nl2br }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6 col-sm-12">
            {# logo #}
            {%- if organization.logoFileName -%}
                <div class="cover">
                  <img class="img-detail" src="{{ vich_uploader_asset(organization, 'logoFile') | imagine_filter('organization_logo_homepage') }}" alt="{{ 'menu.organization'|trans }}" />
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}
