<a class="btn btn-primary btn-sm" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  {{- 'eventnote.new' | trans -}}
</a>
<div class="collapse" id="collapseExample">
  <div class="well">
    {%- include 'UserBundle:eventnote:_form.html.twig' -%}
  </div>
</div>

<h3>
  {{- 'eventnote.list' | trans -}}
</h3>

{%- if event.notes | length > 0 -%}

{% for eventNote in event.notes %}
<div class="card border-success">
  <div class="card-body">
    <blockquote class="card-blockquote">
      {{ eventNote.comment | nl2br }}
      <footer>{{- eventNote.author.fullname -}},&nbsp;
        <cite title="Source Title">
          <p>{{- eventNote.createdAt|date('d/m/Y H:i:s') -}}</p>
          {% if app.user.id == eventNote.author.id %}
            <ul class="nav nav-pills">
              <li>
                  <a href="{{ path('eventnote_edit', { 'id': eventNote.id }) }}">{{- 'button.edit' | trans -}}</a>
              </li>
              {# <li>
                  {{ form_start(delete_form[note.id]) }}
                      <button type="submit" class="btn btn-link">
                          {{- 'button.delete' | trans -}}
                      </button>
                  {{ form_end(delete_form[note.id]) }}
              </li> #}
          </ul>
        {% endif %}
        </cite>
      </footer>
    </blockquote>
  </div>
</div>
{%- endfor -%}
{%- endif -%}
