{% extends 'LandingPageBundle::base.html.twig' %}

{% block body %}

<div class="container marketing">

  {%- for o in organizations -%}
    {%- if loop.first or (loop.index - 1) % 3 == 0 -%}
      <div class="row">
    {%- endif -%}
        <div class="col-sm-4{%- if (loop.index) % 2 == 1 %} col-md-offset-2{%- endif -%}">
          <div class="thumbnail">
            <div class="picture">
              {%- if o.logoFileName -%}
                <img src="{{ vich_uploader_asset(o, 'logoFile') | imagine_filter('organization_logo_thumb') }}" alt="{{ 'menu.organization'|trans }}" />
              {% endif %}
            </div>
            <div class="caption text-center">
              <h3 class="mentor-name">{{- o.country -}}</h3>
              <div class="occupation-wrapper">
                <div class="occupation">
                  {{- o.name -}}
                </div>
                <br />
                <a class="btn btn-success" href="{{ path('homepage', {'subdomain':o.subdomain}) }}" role="button">Enter the program »</a>
              </div>
            </div>
          </div>
        </div><!-- /.col-lg-4 -->
      {%- if loop.index % 3 == 0 or loop.last -%}
      </div>{# row ends#}
    {%- endif -%}
  {%- endfor -%}

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-12">
      <h2 class="featurette-heading">Invest in yourself.&nbsp;<span class="text-muted">It is the best thing you can do for yourself and others.</span></h2>
      <p class="lead">Tech Leaders is a free mentoring program created only for women. It is a great opportunity to work and learn with mentors for several months. You can cooperate with mentor online or offline. You can apply to the program by filling the application form (Become a mentee). Select a mentor from the list in our website and send us an application. Give yourself a chance to share your experiences, explore your potential and choose the next career steps.</p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">For whom?&nbsp;<span class="text-muted"></span></h2>
      <p class="lead">For women who want to develop themselves in IT and technology, think about starting their own business, code, who want to develop their own company, looking for their own career path or want to change their job.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      {%- image '@landingpage_image_2' -%}
        <img class="featurette-image img-responsive center-block" src="{{ asset_url }}" alt="" />
      {%- endimage -%}
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Expected program effects. <span class="text-muted"></span></h2>
      <p class="lead">We want you to create your own project, get a better position at work, believe in your own abilities, change jobs, increase your programming skills or IT and technology knowledge. This is what participants in previous editions did.</p>
    </div>
    <div class="col-md-5">
      {%- image '@landingpage_image_1' -%}
        <img class="featurette-image img-responsive center-block" src="{{ asset_url }}" alt="" />
      {%- endimage -%}
    </div>
  </div>

  <hr class="featurette-divider">

  {%- include 'SiteBundle:homepage:_gallery.html.twig' -%}

</div>

{% endblock %}

{%- block stylesheets -%}
    {{ parent() }}

    {%- stylesheets
        '@lightgallery_css'
        filter='cssrewrite'
    -%}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {%- endstylesheets %}
{%- endblock -%}

{%- block javascripts %}
    {{ parent() }}

    {%- javascripts
        '@lightgallery_program'
    -%}
        <script src='{{ asset_url }}'></script>
    {%- endjavascripts %}
{%- endblock -%}
