<div class="page-header">
    {# we can tell total item count from knp pagination bundle #}
    <h1>{{ 'answer.list' | trans }} <small>({{ answers.getTotalItemCount }})</small></h1>
</div>

<div class="alert alert-dismissible alert-success">
  {{ question.name }}
</div>

{% if answers is not empty %}
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(answers) }}
</div>

<table class="table table-hover">
    <thead>
        <tr class="header-legend">
            {# <th>{{ question.name }}</th> #}
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for answer in answers %}
        <tr>
            <td>
                {%- if answer.answerChoice -%}
                    {{- answer.answerChoice.name -}}
                {%- else -%}
                    {{- answer.content | truncate(250, true, '...') -}}
                {%- endif -%}
            </td>
            <td>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('answer_show', { 'id': answer.id }) }}">{{ 'button.show' | trans }}</a>
                </li>
            </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(answers) }}
</div>
{% else %}
    {% include 'SiteBundle:helper:emptyResult.html.twig' %}
{% endif %}
