{% extends 'WitProgramAccountUserBundle::account.html.twig' %}

{% block body %}

{% include "WitProgramAccountUserBundle:Account:_welcome.html.twig" %}

{# Columns are always 50% wide, on mobile and desktop #}
<div class="row">

  <div class="col-md-6 col-xs-12">
    {% include "WitProgramAccountUserBundle:Account:importantInfo.html.twig" %}
  </div>{# col #}

  {# @todo dodaj informacje o przeszłych edycjach tego mentora i jego podopiecznych #}
  <div class="col-md-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{- 'account.programme.edition.current' | trans({'%edition%': edition.name}) -}}
        </h3>
      </div>

      <div class="panel-body">
        <div class="list-group">

          {%- if mentor.findChosenPerson -%}
            <div class="alert alert-success" role="alert">
              {{- 'congratulations' | trans -}}!
              <p>{{- 'account.mentor.mentee.yoursIs' | trans -}}&nbsp;
                <strong>
                  <a class="text-primary" href="{{ path('account_mentor_mentee_show', {'id':mentor.findChosenPerson.id}) }}">
                    {{- mentor.findChosenPerson.fullname -}}
                  </a>
                </strong>
              </p>
            </div>
          {% elseif config.getIsSignupMenteesEnabled %}
            <div class="alert alert-info" role="alert">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              &nbsp;{{- 'config.warning.isSignupMentorsEnabled' | trans -}}
            </div>
          {%- elseif persons | length > 0 -%}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>&nbsp;
              {{- 'account.warning.actionNeeded' |trans -}}
            </div>
            <div>
              {{- 'account.mentor.choose.mentee' | trans -}}&nbsp;
              <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> <a class="label label-success" href="{{ path('account_mentor_mentees_list') }}">{{ 'menu.mentor.mentees.list' | trans }}</a>
              <p>
                {{- 'account.mentor.choose.description' | trans({'%date%' : '<strong>14:00, 20-11-2017</strong>'}) | raw -}}
              </p>
            </div>
          {%- else -%}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>&nbsp;
              {{- 'account.mentor.noMenteesAccepted' | trans -}}
              <br />
            </div>
            <div>{{- 'account.warning.contact.organizer' | trans -}}</div>
          {%- endif -%}

          {# <p>Brałeś udział w edycji X</p> {# @TODO #}

        </div>{# list-group #}
      </div>{# panel-body #}
    </div>{# panel panel-default #}
  </div>{# col #}
</div>{# row #}

{% endblock %}
